*{
    margin: 0;
    padding: 0;
}

footer{
    margin-top: 8rem;
    
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: #e3e3e3;
    text-align: center;
}

.footer-table{
    width: 50%; /* Or any specific width you desire */
    margin: auto;
    margin-bottom: 2rem
}

.footer-credits-link{
    text-decoration: none;
    color: black;
    font-style: bold;
}
.navbar{
    background-color: #f8f9fa;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* index.html css */

.main-page-title{
    color: red;
    text-align: center;
    margin-right: 2rem;
}

.main-page-logo{
    height: 7rem;
    width: 7rem;
}

.links-formatting .nav-item {
  padding-left: 2rem;
  padding-right: 2rem;

  font-size: 1.25rem;
}

.carousel-item img {
    height: 55rem;
    object-fit: cover;
    object-position: center;
}

.mighty-carousel-of-doom{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.carousel-item .carousel-caption{
    background-color: black;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    
    padding: 1rem 1rem;
}

.order-now{
    text-align: center;
}

.order-now ul{
    list-style-type: none;
}

/* pizza.html css */

.pizza-page-title{
    color: blue;
    text-align: center;
    margin: 2rem 5rem;
}

.card{
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* founders.html css */

.founding-text{
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
}

.ea-nasir-image{
    margin: 0 auto;
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 50rem;
}

/* credits.html css */

.credits-list li{
    margin-bottom: 1rem;
}

.credits-list{
    margin: 0 auto;
    margin-top: 2rem;
}